.root {
    width: 100%;
}

.description {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 97%;
    margin-left: 1.5%;
}
.firsttextbox{
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

.maincard {
    display: flex;
    justify-content: center;
    Width: 60%;
    margin: auto;
    margin-top: 2%;
    height: 30%;
    width: 50%;
}
.formContent {
    width: 150%;
    margin-left: -24%;
}

h1 {
    text-align: center;
}

.selectButton {
    margin-left: 2%;
    margin-bottom: 1%;
}

.text {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.textfield {
    width: 47%;

}

.textfield1 {
    width: 100%;
}
.selectButton{
    font-size: 110%;
}

.input1 {

}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;

}

.button {
    width: 35%;
}

@media only screen and (max-width: 500px) {

    .root {
        display: flex;
        justify-content: center;
    }

    .firsttextbox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 210%;
    }


    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 210%;
    }

    .description {
        width: 99%;
        margin-left: 0.5%;
    }

    .maincard {
        width: 90%;
    }

    h1 {
        font-size: 150%;
    }

    .formContent {
        width: 90%;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 750px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .maincard {
        width: 80%;
    }
    .formContent{
        width: 100%;
        margin-left: 1%;
    }

}

@media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
    .maincard {
        width: 70%;
    }

    .formContent {
        width: 120%;
        margin-left: -10%;
    }
}
