/*My Cart Css*/
#cartcontainer{
    /*margin-top:7%;*/
    min-height: 75.5vh;
    margin-left: 3%;
}

.books-container{
    margin-left: -1%;
    margin-bottom:-1.5%;
}

.address{
    margin-top: 2%;
    margin-bottom: 3%;
}

.bookdiv{
    border:0.1px solid grey;
    padding:2%;
    width: 84%;
    height:415px;
}

.bookdiv1{
    border:0.1px solid grey;
    padding:2%;
    width: 84%;
    height:265px;
}

.scrollbar{
    height:278px;
    overflow-y:scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gainsboro;
    border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #aaadb3;
    border-radius: 10px;
}

.customerdetails{
    margin-top: 3%;
    width: 84%;
}

.ordersummary{
    margin-top: 3%;
    width: 84%;
}

h4{
    font-size: 17px;
    margin-top: -1%;
}

.img{
    height:16vh;
    margin-top: 27%;
}

.mycart-img{
    height:16vh;
}

#bookname1{
    font-size: 15px;
    padding-top: 2.2%;
    font-weight: bold;
    margin-left: 14%;
    margin-top: -17%;
    display: flex;
    justify-content: flex-start;

}

#authorName{
    font-size: 11.5px;
    margin-left: 14%;
    margin-top: 0.4%;
}

.customer-email{
    width: 125%;
    margin-top: 4%;
}

#cost{
    font-size:13px;
    font-weight: bold;
    margin-left: 14%;
    margin-top: 0.4%;
}


.mycart{
    margin-bottom: 5%;
    max-height: 18vh;
}

.plusminusdiv{
    margin-top: 1%;
    margin-right:58%;
    margin-left: 12%;
    display: flex;
}

#plusminubtn{
    font-size:90%;
    color:rgb(165,42,42);
}

#plusminubtn1{
    font-size:90%;
    color: #d3d3d3;
}

.nocartitems{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noitemsimage{
    height: 140px;
    width: 180px;
    align-self: center;
}

#emptycart {
    align-self: center;
}

#text {
    margin-top: 5.5%;
    width: 20%;
    height: 1%;
    margin-left: -3%;
    margin-right: -3%;
    font-size: 14px;
    text-align: center;
}
.remove {
    border: none;
    background-color: white;
    padding-left: 7%;
    margin-top: 2%;
    font-size: 15px;
}

#orderBtn{
    background-color: rgb(165,42,42);
    width: 20%;
    /*margin-bottom: 2%;*/
    color:#fff;
    margin-top: 2%;
    display:flex;
    margin-left:80%;
}

/*Customer Details Css*/
.radiodiv{
    margin-top: 1%;
}

#customer-details{
    font-size:17px;
    margin-left:3%;
    font-weight: bold;
}

.secondtext{
    margin-bottom: 2%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}


#details{
    border:1px  grey;
    padding:1px
}

#summary{
    border:1px  grey;
    padding:1px
}

#name{
    height:12px ;
}

#contact{
    height:12px ;
}

#pincode{
    height:12px ;
}

#locality{
    height:12px ;
}

#address{
    height:20px ;
}

#city{
    height:12px ;
}

#landmark{
    height:12px ;
}

.textfields{
    width: 48.5%;
    margin-left: 40%;
    height: 59px;
}

.textfields1 {
    width: 80%;
    margin-left: 10%;
    height: 72px;
}
.customerdiv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 1%;
    margin-top:-2%;
    width:75%;
}

#customerBtn{
    background-color: rgb(160,48,60);
    width: 26%;
    margin-bottom: 2%;
    color:#fff;
    display:flex;
    margin-left:105%;
}


/*Oredr Summary*/
#summryBtn{
    background-color: rgb(160,48,60);
    width: 20%;
    color:#fff;
    display:flex;
    margin-left:79%;
    margin-top: 2%;
    font-size: 14px;
}

#summary-bookname{
    font-size: 15px;
    margin-left:18px;
    font-weight: bold;
}

#summary-authorname{
    font-size: 11.5px;
    margin-left: 20px;
}

#summary-cost{
    font-size: 13px;
    font-weight:bold;
    margin-left: 20px;
}

#editBtn{
    position: absolute;
    margin-left: 80%;
    font-size:15px;
    margin-top:-8%;
}

ul.breadcrumb {
    margin-left: 2%;
    margin-top: 7%;
}

.detailsblock{
    margin-left: 1%;
    width: 100%;
}

.details-content{
    display: flex;
    margin-top: -2%;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 4px;
    color: #9D9D9D;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #9D9D9D;
    text-decoration: none;
    cursor: pointer;
}

.details-block{
    height: 150px;
}

.oredr-summary-books-div{
    margin-left: 1%;
    margin-top: 2%;
}
