#cartcontainer {
    margin-top: 7%;
    min-height: 75.5vh;
    margin-left: 3%;
}

.bookdiv {
    border: 0.1px solid grey;
    padding: 2%;
    width: 84%;
    height: 400px;
}

h4 {
    font-size: 17px;
    margin-top: -1%;
}

.img {
    height: 16vh;
    margin-top: 27%;
}

#bookname1 {
    font-size: 15px;
    padding-top: 2.2%;
    font-weight: bold;
    margin-left: 14%;
    margin-top: -17%;
    display: flex;
    justify-content: flex-start;

}

#authorName {
    font-size: 11.5px;
    margin-left: 14%;
    margin-top: 0.4%;
}

#cost {
    font-size: 13px;
    font-weight: bold;
    margin-left: 14%;
    margin-top: 0.4%;
}

#orderBtn {
    background-color: rgb(165, 42, 42);
    width: 20%;
    color: #fff;
    margin-top: 2%;
    display: flex;
    margin-left: 80%;
}


.plusminusdiv {
    margin-top: 1%;
    margin-right: 58%;
    margin-left: 12%;
    display: flex;
}


#text {
    margin-top: 5.5%;
    width: 20%;
    height: 1%;
    margin-left: -3%;
    margin-right: -3%;
    font-size: 14px;
    text-align: center;
}

.remove {
    border: none;
    background-color: white;
    padding-left: 7%;
    margin-top: 2%;
    font-size: 15px;
}

.nocartitems {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#emptycart {
    align-self: center;
}

.noitemsimage {
    height: 140px;
    width: 180px;
    align-self: center;
}

/*Customer Details Css*/

#customer-details{
    font-size:17px;
    margin-left:3%;
    font-weight: bold;
}

.secondtext{
    margin-bottom: 1%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#details{
    border:1px  grey;
    padding:1px
}

#summary{
    border:1px  grey;
    padding:1px
}

#name{
    height:20px ;
}

#contact{
    height:20px ;
}

#pincode{
    height:12px ;
}

#locality{
    height:12px ;
}

#address{
    height:20px ;
}

#city{
    height:12px ;
}

#landmark{
    height:12px ;
}

.textfields{
    width: 48.5%;
    margin-left: 40%;
    height: 59px;
}

.textfields1 {
    width: 80%;
    margin-left: 10%;
    height: 72px;
}
.customerdiv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 1%;
    margin-top:-2%;
    width:75%;
}

#customerBtn{
    background-color: rgb(160,48,60);
    width: 26%;
    margin-bottom: 2%;
    color:#fff;
    display:flex;
    margin-left:105%;
}

.address{
    margin-top: 1%;
}

.customer-email{
    width: 125%;
    margin-top: 4%;
}

.customerdetails{
    margin-top: 3%;
    width: 88%;
}
