#appbar{
    background-color:brown;
    display: flex;
}

#tool{
    margin-left: 1%;
}

#title{
    padding-left: 2%;
    width: 30%;
}

#footer-font {
    font-size: 13px;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    background-color: #2E1D1E;
    margin-top: 2%;
}


.search{
    display: flex;
    margin-left: -10%;
    width: 35%;
    height: 5%;
    border-radius: 5px;
    background-color: white;
}

.loginsignup{
    border-bottom: white solid 5px;
    margin-right: 4%;
}

#shopping-icon{
    font-size: 120%;
    display: flex;
}

#main-logo{
    font-size: 200%;
    margin-left: 2%;
}

.loginsignup1{
    border-bottom: rgb(160,48,55) solid 5px;
    margin-right: 4%;
}

.search:hover{
    background-color:lightcyan
}

.MuiInputBase-root.inputRoot.inputInput{
    margin-left: 10%;
}

.searchIcon{
    padding:18px 10px;
    height: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

.searchIcon:active{
    color: yellow;
}

.inputRoot{
    color: inherit;
}

.inputInput{
    padding:1px 1px 1px 0px;
    padding-left: 4px;
    width: 100%;
}

#userName-logincart{
    font-weight: bold;
}

#order-title{
    font-size: small;
    margin-top: 2%;
    display: flex;
    align-items: flex-end;
}

#order-icon{
    margin-right: 6px;
}

.shoppingIcon{
    margin-right: 3%;
}

.grow{
    flex-grow: 1
}

.MuiBadge-anchorOriginTopRightRectangle {
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    color: brown;
    background-color: white;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.loginorsignupbutton{
    width: 20px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.loginorsignupbutton{
    border: solid 1px rgb(150, 0, 0);
    color: rgb(150, 0, 0);
    margin-top: 18px;
    margin-bottom: 15px;
}

.loginsignupcard{
    position: absolute;
    transform: translate(460%, 46%);
    z-index: 999;
    margin-left: -30%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.loginsignupcard1{
    position: absolute;
    transform: translate(460%, 45%);
    width: 20%;
    z-index: 999;
    margin-left: -16%;
    height: 25%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.MuiDialogContent-root.dialoguecontent {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 700px;

}

svg.MuiSvgIcon-root.userIcon{
    margin-top: 22%;
    font-size: 200%;
    color: white;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded{
    position: inherit;
    overflow: hidden;
}

.MuiDialogContent-root.dialoguecontent {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 700px;

}

#subName{
    font-size: small ;
    margin-top: 2%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    svg.MuiSvgIcon-root{
        font-size: 200%;
    }

    #tool{
        margin-left: 1%;
    }
    #title{
        width: 50%;
        font-size: 100%;
        margin-left: 2%;
    }

    .searchIcon{
        margin-left: -2%;
        height: 50%;
        position: absolute;
        color: grey;
        font-size: 80%;
    }

    .search{
        width: 70%;
        margin-left: -34%;
    }

    #footer{
        width: 105%;
        margin-left: -6%;
    }

    .MuiInputBase-root.inputRoot.inputInput{
        margin-left: 15%;
    }

    svg.MuiSvgIcon-root.userIcon{
        font-size: 2.5rem;
        color: white;
    }

    .badge-carticon{
        margin-left: 60%;
    }

    .userIcon{
        margin-left: 5%;
    }

    .loginsignupcard{
        position: absolute;
        transform: translate(342%, 40%);
        width: 53%;
        z-index: 999;
        margin-left: -138%;
        height: 25%;
    }

    .loginsignupcard1{
        position: absolute;
        transform: translate(342%, 40%);
        width: 53%;
        z-index: 999;
        margin-left: -140%;
        height: 25%;
    }

    .userName-logincart{
        font-size: 5%;

    }

    #shopping-icon{
        font-size: 95%;
    }

    .shoppingIcon{
        margin-right: 1.8%;
    }

}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 1){
    #title{
        width: 70%;
        font-size: 115%;
    }

    .searchIcon{
        margin-left: -1%;
        height: 50%;
        position: absolute;
        color: grey;
        font-size: 80%;
    }

    .search{
        width: 70%;
        margin-left: -53%;
    }

    .MuiInputBase-root.inputRoot.inputInput{
        margin-left: 15%;
    }
    #tool{
        margin-left: 2%;
    }

    .loginsignupcard{
        position: absolute;
        transform: translate(342%, 45%);
        width: 53%;
        z-index: 999;
        margin-left: -138%;
        height: 20%;
    }

    .loginsignupcard1{
        position: absolute;
        transform: translate(342%, 35%);
        width: 53%;
        z-index: 999;
        margin-left: -138%;
        height: 25%;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

    .grow {
        flex-grow: 0;
        margin-left: 9%;
    }

    #tool{
        margin-left: 2%;
    }
    #title{
        width: 30%;
        font-size: 140%;
        margin-left: -0.5%;
    }

    #main-logo{
        margin-left: 7%;
    }

    #footer{
        width: 111%;
        margin-left: -6%;
    }

    .searchIcon{
        padding: 18px 29px;
        height: 50%;
        position: absolute;
        color: grey;
        margin-left: -3%;
    }

    .search{
        margin-left: -5%;
        width: 28%;
    }

    .badge-carticon{
        margin-left: -800%;
    }

    .loginsignupcard{
        position: absolute;
        transform: translate(680%, 40%);
        width: 30%;
        z-index: 999;
        margin-left: -131%;
        height: 18%;
    }

    .loginsignupcard1{
        position: absolute;
        transform: translate(680%, 40%);
        width: 30%;
        z-index: 999;
        margin-left: -132%;
        height: 18%;
    }

    .loginsignup1{
        margin-right: 0%;
        margin-left: 6%;
    }

    .loginsignup{
        border-bottom: white solid 5px;
        margin-right: 0%;
        margin-left: 6%;
    }

    #mainName{
        font-size: 22px;
    }

    #subName{
        font-size: 15px;
    }

    .userIcon{
        margin-right: -50%;
    }

    #shopping-icon{
        font-size: 95%;
        margin-left: 217%;
    }

    .shoppingIcon{
        margin-right: -2%;
    }

}
@media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #tool{
        margin-left: 2.3%;
    }

    .search{
        margin-left: -10%;
    }

    #main-logo {
        font-size: 248%;
        margin-left: 2.5%;
    }

    #title {
        padding-left: 2%;
        width: 32%;
        font-size: 135%;
    }

    .grow {
        flex-grow: 0;
        margin-left: 16.5%;
    }

    svg.MuiSvgIcon-root.userIcon {
        margin-top: 22%;
        font-size: 255%;
        color: white;
    }

    .badge-carticon{
        margin-left: -100%;
    }

    .loginsignupcard {
        position: absolute;
        transform: translate(442%, 44%);
        width: 20%;
        z-index: 999;
        margin-left: -12%;
        height: 12%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }


    .loginsignupcard1 {
        position: absolute;
        transform: translate(442%, 42%);
        width: 20%;
        z-index: 999;
        margin-left: -16%;
        height: 12%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    #userName-logincart {
        font-weight: bold;
        font-size: 105%;
    }

}