#appbar{
    background-color:brown;
    display: flex;
}

#tool{
    margin-left: 10%;
}

#title{
    padding-left: 1%;
    width: 30%;
}

#footer-font {
    font-size: 13px;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    background-color: #2E1D1E;
    margin-top: 2%;
}


.search{
    display: flex;
    margin-left: -15%;
    width: 35%;
    height: 5%;
    border-radius: 5px;
    background-color: white;
}

.search:hover{
    background-color:lightcyan
}

.MuiInputBase-root.inputRoot.inputInput{
    margin-left: 10%;
}

.searchIcon{
    padding:8px 15px;
    height: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}


.inputRoot{
    color: inherit;
}

.inputInput{
    padding:1px 1px 1px 0px;
    padding-left: 4px;
    width: 100%;
}


.shoppingIcon{
    margin-right: 3%;
}

.grow{
    flex-grow: 1
}

.MuiBadge-anchorOriginTopRightRectangle {
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    color: brown;
    background-color: white;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    svg.MuiSvgIcon-root{
        font-size: 200%;
    }

    #tool{
        margin-left: 1%;
    }
    #title{
        width: 50%;
        font-size: 100%;
    }

    .searchIcon{
        margin-left: 5%;
        height: 50%;
        position: absolute;
        color: grey;
    }

    .search{
        width: 0;
        margin-left: 10%;
    }

}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 1){
    #title{
        width: 70%;
        font-size: 115%;
    }

    .searchIcon{
        margin-left: -4%;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #tool{
        margin-left: 10%;
    }
    #title{
        width: 30%;
        font-size: 140%;
    }

    svg.MuiSvgIcon-root{
        font-size: 200%;
    }

    .searchIcon{
        padding:2px 30px;
        height: 50%;
        position: absolute;
        color: grey;
    }

    .search{
        margin-left: 0%;
        width: 50%;
    }

}
@media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
    #tool{
        margin-left: 3%;
    }

    .search{
        margin-left: -10%;
    }
}