.coupon-hero {
    width: 41%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: -22%;
    margin-top: -18%;
}

.coupon-top-name {
    margin-top: 1%;
    margin-left: 3%;
}

.coupon-box {
    width: 100px;
    height: 300px;
    position: relative;
    margin: -8% 29.5%;
    background: #ffffff;
    padding-left: 0px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coupon-box1 {
    width: 100px;
    height: 200px;
    position: relative;
    margin: -8% 29.5%;
    background: #ffffff;
    padding-left: 0px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coupon-box-btn {
    width: 500px;
    height: 80px;
    position: relative;
    margin: 9% 29.5%;
    background: #ffffff;
    padding: 5px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coupon-text {
    width: 80px;
    border: dashed;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border-color: #a52a2a;
}

.coupon-text1 {
    width: 150px;
    border: dashed;
    display: flex;
    margin-left: 10%;
    justify-content: center;
    margin-bottom: 5%;
    border-color: #a52a2a;
}

#coupon-btn {
    color: white;
    float: right;
    margin-right: 5%;
    margin-top: -3%;
    margin-bottom: 3%;
    padding: 1.3%;
    background-color: #a52a2a;
    width: 25%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

#amount-text {
    margin-left: 4%;
}

.coupon-name-div {
    height: 50%;
    background-color: brown;
}

.coupon-name-div1 {
    height: 25%;
    background-color: brown;
    margin-top: -2%;
}

.image-coupon{
    display:flex;
    margin-top:3%;
    width:100%;
    justify-content:center;
}

#coupon-name-Rs {
    margin-left: 27%;
}

#coupon-name-expire {
    margin-left: 27%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {

    .image-coupon{
        display:flex;
        margin-top:3%;
        width:30%;
        margin-left: 35%;
        justify-content:center;
    }

    .coupon-name-div1 {
        height: 18%;
        background-color: brown;
        margin-top: -2%;
    }

    #coupon-name-Rs {
        margin-left: 48%;
    }

    #coupon-name-expire {
        margin-left: 48%;
    }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 1) {
    #coupon-name-Rs {
        margin-left: 44%;
    }

    #coupon-name-expire {
        margin-left: 44%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

    .image-coupon{
        margin-top:7%;
        width:30%;
    }

    #coupon-name-Rs {
        margin-left: 30%;
        margin-top: -5%;
    }

    #coupon-name-expire {
        margin-left: 30%;
    }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .image-coupon{
        margin-top:8%;
        width:30%;
        margin-left: 35%;
    }

    #coupon-name-Rs {
        margin-left: 23%;
    }

    #coupon-name-expire {
        margin-left: 23.4%;
    }

}
