.forgotmain {
    display: flex;
    justify-content: center;
}

#resetContent input {
    height: 10px;
    padding-top: 24px;
}

#resetContent button {
    height: 50px;
    text-align: center;
}

#forgotdiv h1 {
    margin-top: 36%;
    text-align: center;
}

#forgotcard {
    padding: 12px;
    width: 424px;
    height: 287px;
}

#resetcard  {
    padding: 24px;
    width: 424px;
    height: 287px;
}

#forgotEmailText {
    margin-top: 4%;
}

#resetbtn {
    background-color: brown;
    width: 100%;
    color:#fff;
    font-size: 14px;
    margin-top: 2%;
}

#typo {
    font-size: 15px;
}

#createbtn {
    margin-top: -30px;
    width: 424px;
    height: 80px;
    background: rgb(235, 233, 228);
}

#createbtn button {
    margin-left: 32%;
    margin-top: 5%;
    font-weight: bold;
}

#resetPassword{
    margin-bottom: 2%;
}

#forgotpasswordcart{
    padding: 24px;
    width: 424px;
    height: 287px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {

    #resetcard  {
        padding: 10px;
        width: 300px;
        height: 287px;
    }

    #forgotcard {
        padding: 12px;
        width: 300px;
        height: 246px;
    }

    #forgotpasswordcart{
        padding: 12px;
        width: 305px;
        height: 287px;
        margin-left: 1%;
    }

    #createbtn {
        margin-top: -30px;
        width: 310px;
        height: 80px;
        background: rgb(235, 233, 228);
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

    #resetcard  {
        padding: 5px;
        width: 500px;
        height: 300px;
    }

    #forgotdiv{
        margin-left: -5%;
    }

    #resetContent input {
        height: 18px;
        padding-top: 24px;
    }

    h1{
        font-size: 34px;
    }


    #forgotcard {
        padding: 12px;
        width: 500px;
        height: 287px;
    }

    #forgotpasswordcart{
        padding: 12px;
        width: 500px;
        height: 287px;
        margin-left: -2%;
    }

    #createbtn {
        margin-top: -1px;
        margin-left: -2%;
        width: 100%;
        height: 16%;
    }

    #createbtn button {
        font-weight: bold;
        font-size: 23px;
        margin-left: 21%;
    }

}
