.maincontain{
    min-height: 84.5vh;
    padding-top: 5%;
    flex-direction: column;
}

#maincontainer{
    width: 92%;
}

.maincarddiv{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.imagediv{
    padding-top: 125px;
    padding-left: 525px;
}

.booknotfound {
    height: 220px;
    width: 190px;
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.maincontain-p{
    font-size:15px;
    color:#c3c7c3;
    display:inline;
}

select.MuiOutlinedInput-input{
    padding: 8px 14px 10px;
}

.select-filter{
    width: 17%;
    height:1%;
    margin-top: 1.3%;
    padding: -10px;
}

#filter{
    display: flex;
    justify-content: space-between;
}

.MuiCardActions-root {
    justify-content: center;
}
button.MuiButtonBase-root.MuiCardActionArea-root{
    height: 200px;
    width: 100%;
    display: flex;
    text-align: inherit;
    background-color: #F0F0F0;
}

img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
    width: 50%;
    height: 180px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    .maincontain{
        margin-top: 6%;
        min-height: 520vh;
    }

    .image1{
        height: 320px;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 210px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 40%;
        height: 188px;
    }

    #filter{
        flex-direction: column;
    }

    .select-filter{
        width: 65%;
        margin-left: 0;
        margin-top: -1%;
        margin-bottom: 4%;
    }

}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 1){
    .maincontain{
        margin-top: 6%;
        min-height: 500vh;
    }

    .image1{
        height: 320px;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 245px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 40%;
        height: 215px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

    .image1{
        height: 250px;
    }
    .maincontain{
        min-height: 150vh;
    }

    #maincontainer{
        width: 100%;
        margin-left: -6%
    }

    .maincarddiv{
        margin-left: 10%;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 210px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 50%;
        height: 165px;
    }

    .select-filter{
        margin-top: 2%;
        height: 10%;
        margin-left: auto;
        width: 30%;
    }

    #filter{
        flex-direction: row;
    }

    #root{
        margin-left: 6%;
        margin-right: -16%;
    }

}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .image1{
        height: 275px;
    }

    .maincontain{
        min-height: 100vh;
    }

    .select-filter{
        margin-top: 2%;
        width:20%;
    }
}