.maincontain{
    height: 100vh;
    padding-top: 5%;
    flex-direction: column;
}

#stock-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    font-size: 23px;
}

.page{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.maincontain-p{
    font-size:18px;
    color:#c3c7c3;
    display: inline;
}

#bookname{
    font-size:17px;
}

#authorname{
    font-size:14px;
}

#bookprice{
    margin-bottom: -2%;
    margin-top:3%;
}

#btn-add-to-card{
    background-color: rgb(165,42,42);
    width: 80%;
    margin-bottom: 2%;
    font-size: 90%;
    align-content: center;
}

#stock-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 70%;
    font-size: 23px;
}

.MuiCardActions-root {
    justify-content: center;
}
button.MuiButtonBase-root.MuiCardActionArea-root{
    height: 200px;
    width: 100%;
    display: flex;
    text-align: inherit;
    background-color: #F0F0F0;
}

img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
    width: 50%;
    height: 180px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    .maincontain{
        margin-top: 6%;
        height: 100vh;
    }

    .image1{
        height: 320px;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 210px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 40%;
        height: 188px;
    }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 1){
    .maincontain{
        margin-top: 6%;
        height: 100vh;
    }

    .image1{
        height: 320px;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 245px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 40%;
        height: 215px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .image1{
        height: 250px;
    }

    button.MuiButtonBase-root.MuiCardActionArea-root{
        height: 210px;
        width: 100%;
        display: flex;
        text-align: inherit;
        background-color: #F0F0F0;
    }

    img.MuiCardMedia-root.image1.MuiCardMedia-media.MuiCardMedia-img{
        width: 50%;
        height: 165px;
    }
}

@media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {

    .image1{
        height: 275px;
    }
}