.hero {
    width: 100%;
    height: 100%;
    background-color: #b3b3b3;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.user-login-form{
    margin-top: -1%;
    margin-left: 17%;
    display:flex;
}

.form-box {
    width: 624px;
    height: 400px;
    position: relative;
    margin: 11.6% 0%;
    background: #ffffff;
    padding: 5px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box {
    height: 453px;
    width: 389px;
    margin-top: 9%;
    margin-left: -27%;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.8);
}

.login-img {
    height: 245px;
    width: 245px;
    display: block;
    margin-left: 53px;
    margin-top: 40px;
    border-radius: 50%;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    max-width: 525px;
    min-height: 670px;
    position: relative;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px 46px 47px 46px;
}

#emailId{
    height: 14px;
}

#number{
    height: 14px;

}

#fullName{
    height: 14px;
}

#passWord{
    height: 14px;
}


.login-html .sign-up-htm {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in-htm{
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab1,
.login-html .tab2,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab1 {
    font-size: 22px;
    margin-left: 16px;
    margin-right:110px;
    padding-bottom: 5px;
    display: inline-block;
    color: gray;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.login-html .tab2 {
    font-size: 22px;

    padding-bottom: 5px;
    display: inline-block;
    color: gray;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.login-html .sign-in:checked + .tab1,
.login-html .sign-up:checked + .tab2 {
    color: #000;
    border-color: rgb(165, 42, 42);
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
}

.login-form .group {
    margin-bottom: 6.5px;
}

.login-form .group1 {
    margin-bottom: 6px;
}

.login-form .group .label,
.login-form .group .login-button,
.login-form .group1 .login-button{
    width: 100%;
    color: #fff;
    font-size: 110%;
    display: block;
}

.login-button{
    outline: none;
}

.login-form .group .input,
.login-form .group .login-button,
.login-form .group1 .login-button{
    border: none;
    padding: 10px 10px;
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    margin-top: 6%;
    color: #000;
    font-size: 10px;
}

.login-form .group .login-button,
.login-form .group1 .login-button{
    background: rgb(165, 42, 42);
    border-radius: 5px;
    cursor: pointer;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #000;
    position: absolute;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
}

.login-form .group .check:checked + label {
    color: #000;
}

.login-html .sign-in:checked + .tab1 + .sign-up + .tab2 + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab2 + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: right;
    font-size: 12px;
    color: #9D9D9D;
    margin-bottom: 20px;
    margin-top: -10px;
}

@media (max-width: 600px){
    .form-box{
        display: none;
    }
    .login-box {
        height: 453px;
        width: 90%;
        align-self: center;
        box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.8);
        position: absolute;
        margin-left: 0;

    }
    .user-login-form{
        width: 100%;
        margin-left: 0;
        margin-top: -15%;
        display:flex;
        justify-content: center;
    }
    .login-html .tab1 {
        font-size: 20px;
        margin-right:32%;
        margin-left: 12%;
    }
    .login-html .tab2 {
        font-size: 20px;
    }
    .login-html{
        padding: 24px 30px 47px 30px;
    }
}
@media (min-width: 767px) and (max-width:1024px){
    .user-login-form{
        margin-top: 25%;
        margin-left: 35%;
        display:flex;
    }
    .form-box {
        width: 610px;
    }
    .login-html{
        padding: 24px 35px 47px 35px;
    }
    .login-html .tab1 {
        margin-right:32%;
        margin-left: 12%;
    }
}
@media (min-width:200px) and (max-width:320px){
    .login-html .tab1 {
        margin-right:21%;
        margin-left: 11%;
    }
}